<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>let's take it here</title>

  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="/lib/animate/animate.css">
	<link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/elsewhere.css">
</head>

<body>
  <div>
    {{{ body }}}
  </div>
  <script src="/lib/jquery/jquery-2.1.4.min.js"></script>
  <script src="/js/bundle.js"></script>
</body>

</html>
